:root{
    --fondo: #BB0081;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green_color {
    background-color: rgb(11, 178, 10);    
}

.yellow_color {
    color: #F9FC2B !important;
}

body{
    background: black;
  }
  ._footer img{
    width: 200px;
  }
  
  #post-25415 {
    padding: 10px 0 0 0!important;
  }
  
  .row, p{
    color: white;
  }
  
  .flex{
    display: flex;
  }
  
  .flex-column{
    flex-direction: column;
  }
  
  #cant_boletos{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    height: 62px;
    padding: 2px!important;
  }
  
  .hidden{
    visibility: hidden;
    display: none;
  }
  
  .info_boletos, .info_precio{
    display: flex;
    flex-direction: column;
  }
  
  .info_boletos .info{
    display: flex;
    justify-content: space-between;
  }
  
  .info_terminos p{
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
  
  .info_precio .info{
    display: flex;
    justify-content: flex-end;
  }
  
  

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

.editor-styles-wrapper, .entry-content {
    counter-reset: footnotes;
}

h1,h2,h3 {
    text-align: center;
}

@media only screen and (min-width: 1280px) {
    .h2_responsive {
        font-size: 40px !important;
        line-height: 1.2em !important;
    }
    .h3_responsive{
/*        color: var(--fondo);*/
        font-size: 25px !important;
        line-height: 1em !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 1200px) {
    .wpb-content--blank .wpb-content-wrapper {
        max-width: 1140px;
    }
}
.wpb-content--blank .wpb-content-wrapper {
    margin: 0 auto;
}
.wpb-content-wrapper {
    margin: 0;
    padding: 0;
    border: none;
    overflow: unset;
    display: block;
}

.vc_row {
    background-size: cover;
}
.vc_row:after, .vc_row:before {
    content: " ";
    display: table;
}

.wpb_column {
    height: auto;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.vc_column_container {
    width: 100%;
}
.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
body .wpb_content_element {
    margin: 0;
}
.vc_column-inner::after {
    clear: both;
}

.vc_clearfix:after, .vc_clearfix:before {
    content: " ";
    display: table;
}

.vc_row[data-vc-full-width] {
    transition: opacity .5s ease;
    overflow: hidden;
}
.vc_row:after {
    clear: both;
}

.vc_general.vc_btn3 {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: #5472d2;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
    line-height: normal;
    box-shadow: none;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg {
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
}
.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat {
    background-color: #d10f00;
}
.vc_btn3-container .vc_btn3-block.vc_btn3-icon-left, .vc_btn3-container .vc_btn3-block.vc_btn3-icon-right {
    text-align: inherit;
}
.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat {
    color: #fff;
    background-color: #ff675b;
}
.vc_btn3.vc_btn3-size-lg {
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
}
.vc_btn3.vc_btn3-shape-rounded {
    border-radius: 5px;
}
.vc_btn3.vc_btn3-block {
    display: block;
    width: 100%;
    text-align: inherit;
}
.vc_btn3.vc_btn3-icon-left {
    text-align: left;
}
.vc_btn3.vc_btn3-icon-left, .vc_btn3.vc_btn3-icon-right {
    position: relative;
}
.vc_btn3-container.vc_btn3-center {
    text-align: center;
}

.vc_btn3-container {
    display: block;
    margin-bottom: 21.73913043px;
    max-width: 100%;
}
.vc_btn3.vc_btn3-color-success, .vc_btn3.vc_btn3-color-success.vc_btn3-style-flat {
    background-color: rgb(11, 178, 10);
}
.vc_btn3.vc_btn3-color-success, .vc_btn3.vc_btn3-color-success.vc_btn3-style-flat {
    color: #fff;
    background-color: #6ab165;
}

/* .form-control {
    background-color: #fff;
    background-image: none;
    border: 2px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 1.42857;
    padding: 6px 40px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
} */
.vc_custom_1712891704809 {
    background-color: var(--fondo) !important;
}

.progress, .progress-stacked {
    background-color: #d10f00;
}

.progress-bar {
    overflow: visible!important;
    color: #070707!important;
}


/*--------------------- PERSONALIZADO --------------- */
.vc_btn3.vc_btn3-color-success, .vc_btn3.vc_btn3-color-success.vc_btn3-style-flat {
	background-color: rgb(11, 178, 10);
}
.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat {
	background-color: #d10f00;
}


#navbar > div > ul li{
	margin: 0px!important;
	padding: 0px!important;
}

#navbar > div > ul li a{
	padding-bottom: 0!important;
}

#modeltheme-main-head > div > div > div.navbar-header.col-md-3 > div{
	margin-top: 15px!important;
	margin-bottom: 0!important;
}

#payment > ul.payment_methods {
	display: none;
}

.footer-row-1{
	padding-top: 20px!important;
}

.link_white{
	color: white!important;
}
.social_links_footer{
	display: flex;
}

.social_links_footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 5px;
}

.social_links_footer ul li{
	display: flex;
	align-items: center;
	justify-content: center;
}

.social_links_footer ul li img{
	width: 64px;
}

.sidebar-1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.sidebar-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-width : 320px) {
	.footer-row-1 p{
		font-size: 10px!important;
	}
	.boton_compra a{
		font-size: 22px!important;
	}
	
    .patrocinantes .vc_column_container>.vc_column-inner {
        padding-top: 20px!important;
    }

    .patrocinantes .vc_column_container>.vc_column-inner {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
        
    figure {
        margin-bottom: 10px !important;
    }
}

@media only screen and (max-width : 900px) {
	.p_0 .vc_column-inner{
		padding: 0!important;
	}
	.m_0 .vc_column-inner{
		margin: 0!important;
	}
	.h2_responsive{
		font-size: 28px!important;
		line-height: 1.2em!important;
	}
	.h3_responsive{
/*        color: var(--fondo);*/
		font-size: 23px!important;
		line-height: 1em!important;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.h4_responsive{
		font-size: 16px!important;
		line-height: 1em!important;
	}
	.vc_column-inner{
		padding-top: 1px;
	}
	
	.boton_compra a{
		font-size: 22px!important;
	}
	
	.social_links_footer img{
		width: 70%!important;
	}
	.footer-row-1 p{
		font-size: 10px!important;
	}
.patrocinantes .vc_column_container>.vc_column-inner {
    padding-top: 20px!important;
}

.patrocinantes .vc_column_container>.vc_column-inner {
    padding-left: 5px!important;
    padding-right: 5px!important;
}
	
figure {
    margin-bottom: 10px !important;
}

}

.page .no-padding-bottom article.type-page {
    padding: 25px 0 0;
}

@media only screen and (min-width : 1280px) {
	.h2_responsive{
		font-size: 40px!important;
		line-height: 1.2em!important;
	}
	.h3_responsive{
/*        color: var(--fondo);*/
		font-size: 23px!important;
		line-height: 1em!important;
		margin-top: 5px;
		margin-bottom: 5px;
	}
.patrocinantes .vc_column_container>.vc_column-inner {
    padding-left: 50px!important;
    padding-right: 50px!important;
}

}

.fullwidth #navbar > div > ul{
	float: right;
}

.yellow_color{
	color: #F9FC2B!important;
}

.purple_color{
	color: #7944D4!important;
}

.ptop_0{
	padding-top: 0!important;
	margin-top: 0!important;
}

body.swal2-shown > [aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(3px);
}

#payment_data p, .custom-container p{
    color: black!important;
}